<!-- Top menu -->
{% macro topmenu(pageside="") -%}
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">宇造</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a class="scroll-link" href="/">首页</a></li>
          <li><a class="scroll-link top-focus" href="/login">合作登录</a></li>
          <li><a class="scroll-link" href="{{pageside}}#contact">联系我们</a></li>
        </ul>
      </div>
    </div>
  </nav>
{%-endmacro %}

<!-- title -->
{% macro title() -%}
  <title>宇造官网 Neufact-let's make a better product</title>
{%-endmacro %}