<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  {% from "website/common.html" import title %}
  {{title()}}
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../../global/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../global/css/fonts-family.css">
  <link rel="stylesheet" href="../../pages/css/animate.min.css">
  <link rel="stylesheet" href="../../pages/css/carousel.css">
  <link rel="stylesheet" href="../../pages/css/topmenu.css">
  <link rel="shortcut icon" href="../../global/img/favicon.ico">
</head>
<!-- NAVBAR
================================================== -->
<body>
  <!-- Top menu -->
  {% from "website/common.html" import topmenu %}
  {{topmenu()}}
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <!-- <li data-target="#myCarousel" data-slide-to="2" class=""></li> -->
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="../../pages/img/carousel-01.jpg" alt="First slide">
        <div class="carousel carousel-back"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>数字化制造战略者</h1>
            <p>我们致力于帮助制造企业在<code> 工业4.0 </code>和<code> 中国制造2025 </code>浪潮中实现转型，通过数字化制造迈向智能制造版图。</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="/login" role="button">合作登录</a></p> -->
          </div>
        </div>
      </div>
      <div class="item">
        <img src="../../pages/img/carousel-02.jpg" alt="Second slide">
        <div class="carousel carousel-back"></div>
        <div class="container">
          <div class="carousel-caption">
            <h1>大数据分析专家</h1>
            <p>我们的物联网与大数据分析解决方案帮助您的制造企业向创新驱动、质量效益竞争优势、绿色制造、服务型制造转变。</p>
            <p><a class="btn btn-lg btn-primary" href="#marketing" role="button">了解更多</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.carousel -->
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <div id="marketing" class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-sm-12 features section-description wow fadeIn">
        <h2>我们可以帮您实现什么?</h2>
        <div class="divider-1 wow fadeInUp">. . . . . . . . . .</div>
<!--         <p>经常要花很多时间从各个数据源获取数据？</p>
        <p>要花大量时间对数据进行整合、清洗和整理？</p>
        <p>对每隔一段时间都要进行的同样的分析过程感到繁琐和厌倦？</p> -->
        <p>数字化制造助您从研发、供应链、工厂运营到营销、销售和服务释放企业的巨大潜力</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle focus-box red" src="../../pages/img/home-ill-build.png" alt="Generic placeholder image" style="width: 150px; height: 150px;">
        <h3>加速研发</h3>
        <p>我们使用云计算、云协作等技术助您利用工业大数据，实现协同研发，降低沟通成本，缩短新产品上市时间。</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle focus-box green" src="../../pages/img/home-ill-platform.png" alt="Generic placeholder image" style="width: 150px; height: 150px;">
        <h3>卓越运营</h3>
        <p>我们使用物联网、大数据分析技术帮助管理者清晰地了解原材料、部件和成品在整个价值网络中的流动状态。让您合理安排工厂运营和产品发货，从而降低成本、提高效率。</p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle focus-box blue" src="../../pages/img/home-ill-projects.png" alt="Generic placeholder image" style="width: 150px; height: 150px;">
        <h3>业务创新</h3>
        <p>我们使用互联网与物联网技术提高您的客户体验，为您的客户提供更多服务选择性。使您的企业从生产型制造向服务型制造转变。</p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- Testimonials -->
  <div class="testimonials-container section-container section-container-image-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 testimonials section-description">
          <h2>客户反馈</h2>
          <p class="medium-paragraph">看看我们的客户对我们系统的使用感受吧:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 testimonial-list">
          <div role="tabpanel">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                <div class="testimonial-image">
                  <img src="../../pages/img/testimonials/1.jpg" alt="t1">
                </div>
                <div class="testimonial-text">
                  <p>
                    "宇造最直观的价值，在于帮我们降低了10%~15%的人工成本，每个项目差旅费用节省数万，产品投诉率同比下降45%。更重要的是这背后给我们带来了更多的战略机会。"<br>
                    <a>江门市一家半导体制造商, 总经理</a>
                  </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab2">
                <div class="testimonial-image">
                  <img src="../../pages/img/testimonials/2.jpg" alt="t2">
                </div>
                <div class="testimonial-text">
                  <p>
                    "宇造帮我们在车间部署了无线网络，接入了我们的设备信息。现在我们可以观察到每台设备的运作效率，帮助我们及时调整计划和设计，现在的设备效率比以前提高了10%~20%。"<br>
                    <a>中山市一家电子制造厂, 车间主管</a>
                  </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab3">
                <div class="testimonial-image">
                  <img src="../../pages/img/testimonials/3.jpg" alt="t3">
                </div>
                <div class="testimonial-text">
                  <p>
                    "宇造建立的设备云存储了产线实时的监控设备和产品的运行状况，让我们能及时优化产品的研发与提高服务质量。总体研发时间比之前缩短了至少10%以上。"<br>
                    <a>广州市一家硬件公司, 研发副总监</a>
                  </p>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tab4">
                <div class="testimonial-image">
                  <img src="../../pages/img/testimonials/4.jpg" alt="t4">
                </div>
                <div class="testimonial-text">
                  <p>
                    "我们与宇造一起研发出一套“零停机解决方案”，帮助我们的企业客户避免意外停机，这也使我们从单纯的产品提供商，变成了增值服务提供商。"<br>
                    <a>广州市一家硬件公司, 销售主管</a>
                  </p>
                </div>
              </div>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active">
                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab"></a>
              </li>
              <li role="presentation">
                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab"></a>
              </li>
              <li role="presentation">
                <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab"></a>
              </li>
              <li role="presentation">
                <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- START THE FEATURETTES -->
  <div class="container marketing">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">大数据可视化技术  <span class="text-muted">释放您的企业潜力</span></h2>
        <p class="lead">在我们的经验中，工业数据的利用率不到50%，如果将工业数据利用率提高到80%，将可以带来数倍的效率提升。通过我们的大数据可视化技术，可处理每日10亿条数据并图表化展示，提高您的工业数据利用率，让不同部门员工可以在任何地方实现灵活便捷地实时交流及讨论，加速产品改进。生产线可以及时发现瑕疵产品，您的技术专家也能从远程解决生产线的问题。</p>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div id="chart-01"></div>
          </div>
          <div class="col-xs-6 col-md-6">
            <div id="chart-02"></div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div id="chart-03"></div>
          </div>
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">灵活的付费计划 <span class="text-muted">成本低廉</span></h2>
        <p class="lead">我们的服务支持包年包月购买，并且具有15天的免费试用服务，让您试用满意后再购买，并且可以按需购买，后续不满意可以随时中断续费。您的满意是我们自信的来源，您的不满意则是鞭策我们不断改进的动力。</p>
      </div>
      <div class="col-md-5">
        <div class="package wow fadeInLeft animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s">
          <div class="price dark-bg">
            <div class="price-container">
              <h4>15天免费试用</h4>
            </div>
          </div>
          <ul>
            <li>包年包月的计费模式</li>
            <li>支持科学分析定制</li>
            <li>无限制历史数据存储时间</li>
            <li>实时动态数据编排</li>
          </ul>
          <a href="#contact" class="btn btn-primary custom-button blue-btn">联系我们了解详细</a>
        </div>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
  <section class="contact-us" id="contact">
    <div class="container">
      
      <!-- SECTION HEADER -->
      <div class="section-header">
        
        <!-- SECTION TITLE -->
        <h2 class="white-text">联系我们</h2>
        
        <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
        <h6 class="white-text">
        想加入我们?
        </h6>
        <h6 class="white-text">
        对我们的产品仍有问题或建议?写下来吧!
        </h6>
      </div>
      <!-- / END SECTION HEADER -->
      
      <!-- CONTACT FORM-->
      <div class="row">
        <form role="form" class="contact-form" id="contact-form">
          <div class="wow fadeInLeft animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
            <div class="col-sm-4">
              <input type="text" name="name" placeholder="Your Name / 您的昵称" class="form-control input-box" id="name">
            </div>
            <div class="col-sm-4">
              <input type="email" name="email" placeholder="Your Email / 您的邮箱" class="form-control input-box" id="email">
            </div>
            <div class="col-sm-4">
              <input type="text" name="subject" placeholder="Subject / 主题" class="form-control input-box" id="subject">
            </div>
          </div>
          
          <div class="clearfix">
            <div class="col-sm-12 wow fadeInRight animated animated" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">
              <textarea name="message" class="form-control textarea-box" placeholder="Your Message / 详细信息" id="message"></textarea>
            </div>
          </div>
          <!-- IF MAIL SENT SUCCESSFULLY -->
          <h4 class="success pull-left white-text">
          您的内容成功提交。
          </h4>
          
          <!-- IF MAIL SENDING UNSUCCESSFULL -->
          <h4 class="error pull-left white-text">
          邮箱格式错误或没有信息，请重新输入。
          </h4>
          <button class="btn btn-primary custom-button red-btn wow fadeInLeft animated animated" id="submit" data-wow-offset="30" data-wow-duration="1.5s" data-wow-delay="0.15s" type="submit" style="visibility: visible;-webkit-animation-duration: 1.5s; -moz-animation-duration: 1.5s; animation-duration: 1.5s;-webkit-animation-delay: 0.15s; -moz-animation-delay: 0.15s; animation-delay: 0.15s;">提交内容</button>
        </form>
      </div>
      <!-- / END CONTACT FORM-->
    </div>
    <!-- / END CONTAINER -->
  </section>
  <!-- / END CONTACT US SECTION-->
  <!-- FOOTER -->
  <footer>
    <div class="container">
      <div class="social">
        <!-- <p class="pull-right"><a href="#">Back to top</a></p> -->
        <p>LET'S MAKE A BETTER PRODUCT &nbsp;&nbsp;&nbsp;&nbsp; ©2016 NEUFACT &nbsp; | &nbsp; <a href="http://www.miitbeian.gov.cn">粤ICP备17083097号-1</a></p>
      </div>
    </div>
    <div style="display: none;">
      <script src="https://s4.cnzz.com/z_stat.php?id=1261418759&web_id=1261418759" language="JavaScript"></script>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../../global/plugins/jquery.min.js"></script>
  <script src="../../global/plugins/jquery.backstretch.min.js"></script>
  <script src="../../global/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../pages/script/echarts.index.min.js"></script>
  <script src="../../pages/script/wow.min.js"></script>
  <script src="../../pages/script/zerif.js"></script>
</body>
</html>