<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% from "common.html" import title %}
    {{title()}}
    <!-- CSS -->
    <link rel="stylesheet" href="../../global/css/fonts-family.css">
    <link rel="stylesheet" href="../../global/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../global/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../global/pages/css/form-elements.css">
    <link rel="stylesheet" href="../../pages/css/topmenu.css">
    <link rel="stylesheet" href="../../pages/css/loginstyle.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="../../global/img/favicon.ico">
  </head>
  <body>
    <!-- Top menu -->
    {% from "common.html" import topmenu %}
    {{topmenu("/?")}}
    <!-- Top content -->
    <div class="top-content">
      
      <div class="inner-bg">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text">
              <h1><strong>宇造</strong></h1>
              <div class="description">
                <p>
                  欢迎登录宇造云数据平台
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3 form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>输入您的公司邮箱</h3>
                    <p class="errormsg">{% if message %}{{message}}{% else %}</p>
                    <p>想加入我们？来<a href="/?#contact">告诉我们</a>吧。</p>
                  {% endif %}
                </div>
                <div class="form-top-right">
                  <i class="fa fa-key"></i>
                </div>
              </div>
              <div class="form-bottom">
                <form role="form" class="login-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-username">Username</label>
                    <input type="text" name="username" placeholder="用户名" class="form-username form-control" id="form-username">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-password">Password</label>
                    <input type="password" name="password" placeholder="密码" class="form-password form-control" id="form-password">
                  </div>
                  <input type="hidden" name="url" value="{%if url%}{{url|e}}{%endif%}">
                  <button id="popup-submit" type="submit" class="btn">登 录</button>
                  <div id="popup-captcha"></div>
                </form>
              </div>
            </div>
          </div>
<!--           <div class="row">
            <div class="col-sm-6 col-sm-offset-3 social-login">
              <h3>...or login with:</h3>
              <div class="social-login-buttons">
                <a class="btn btn-link-1 btn-link-1-wechat" href="#">
                  <i class="fa fa-wechat"></i> Wechat
                </a>
                <a class="btn btn-link-1 btn-link-1-qq" href="#">
                  <i class="fa fa-qq"></i> QQ
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      
    </div>
    <!-- Javascript -->
    <script src="../../global/plugins/jquery.min.js"></script>
    <script src="../../global/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../global/plugins/.backstretch.min.js"></script>
    <script src="../../pages/script/login.js"></script>
    
    <!--[if lt IE 10]>
    <script src="../static/login/js/placeholder.js"></script>
    <![endif]-->
  </body>
</html>